div#sidebar-icon {
background-image: url("../icons/icon.svg");
background-size: 64px 64px;
opacity: 0.5;}

div.subpage {
display: none;}
div.visible {
display: block;}

section {
overflow: auto;
margin: 0px 0px 24px 0px;
font-size: 14px;}

form {
line-height: 150%;
text-align: justify;}

section ul {
padding: 0px 0px 0px 20px;
margin: 14px 0px 0px 0px;
line-height: 150%;
text-align: justify;}

input[type=number] {
width: 50px;
padding: 0;}